extends layout

block content
	h1 用户详情
	form#signup
		if error
			div.error!= error
		p 用户名 :
			span #{user.username}

		p 学号 :
			span #{user.sid}

		P 电话 :
			span #{user.phone}

		p 邮箱 :
			span #{user.email}
		div.button
			a.signout(href="http://127.0.0.1:8000/signout" type="signout") 退出